In [158]:
import re

import pandas as pd
import numpy as np

In [159]:
df = pd.read_csv('tweet-data/File Startup 1.csv')
df = df.append(pd.read_csv('tweet-data/File Startup 2.csv').sample(n = 125), ignore_index = True)
df = df.append(pd.read_csv('tweet-data/File Startup 3.csv').sample(n = 125), ignore_index = True)
df = df.append(pd.read_csv('tweet-data/File Startup 4.csv').sample(n = 125), ignore_index = True)
df = df.append(pd.read_csv('tweet-data/File Startup 5.csv').sample(n = 125), ignore_index = True)
df = df.append(pd.read_csv('tweet-data/File Startup 6.csv').sample(n = 125), ignore_index = True)
df = df.append(pd.read_csv('tweet-data/File Startup 7.csv').sample(n = 125), ignore_index = True)
df = df.append(pd.read_csv('tweet-data/File Startup 8.csv').sample(n = 125), ignore_index = True)
df = df.append(pd.read_csv('tweet-data/File Startup 9.csv').sample(n = 125), ignore_index = True)
df = df.append(pd.read_csv('tweet-data/File Startup 10.csv').sample(n = 125), ignore_index = True)
df = df.append(pd.read_csv('tweet-data/File Startup 11.csv').sample(n = 125), ignore_index = True)
df = df.append(pd.read_csv('tweet-data/File Startup 12.csv').sample(n = 125), ignore_index = True)
df = df.append(pd.read_csv('tweet-data/File Startup 13.csv').sample(n = 125), ignore_index = True)
df = df.append(pd.read_csv('tweet-data/File Startup 14.csv').sample(n = 125), ignore_index = True)
df = df.append(pd.read_csv('tweet-data/File Startup 15.csv').sample(n = 125), ignore_index = True)
df = df.append(pd.read_csv('tweet-data/File Startup 16.csv').sample(n = 125), ignore_index = True)
df.shape

(8016, 3)

In [160]:
def cleanTxt(text):
#     text = text.decode("utf-8")
    text = re.sub(r'@[A-Za-z0-9]+', '', text)
    text = re.sub(r'#\w+ ?', '', text)
    text = re.sub(r'RT[\s]+', '', text)
    text = re.sub(r'https?:\/\/\S+', '', text)
    text = re.sub(r"\\n", ' ', text)
    text = re.sub(r"\\\w+", '', text)
    text = re.sub(r'&\w+ ?', '', text)
    text = text[2:-1]
    
    return text

df['Tweet'] = df['Tweet'].apply(cleanTxt)
tweets = df[['Date','Tweet']]
tweets = tweets.drop_duplicates(subset=['Tweet'])
tweets.head()

,Date,Tweet
0,2020-12-15 15:08:12+00:00,"me rn, 100% wanna watch startup! honestly, sta..."
1,2020-12-05 16:54:42+00:00,He wins a knife fight - but loses something el...
2,2020-12-09 10:06:29+00:00,Sumpah aku pas di scene ini nangis berasa mama...
3,2020-12-09 05:29:34+00:00,baru tengok sikit dah sakit hati. Duit lebih p...
4,2020-12-09 02:40:47+00:00,Tadinya bingung mau nntn yang mana dulu Antara...

In [161]:
tweets.index = tweets['Tweet'].str.len()
tweets = tweets.sort_index(ascending=False).reset_index(drop=True)
tweets = tweets[0:2000]
tweets.head()

,Date,Tweet
0,2020-11-24 02:41:54+00:00,"After watched , i see there\'re a lot of peopl..."
1,2020-10-25 12:51:12+00:00,"Setelah 3 eps maraton dramanya, masih seru si,..."
2,2020-11-15 04:45:52+00:00,Setau gue waktu itu jipyeong udh mau nyamperin...
3,2020-11-09 08:22:59+00:00,Baru kali ini nonton drama romance tapi ga nge...
4,2020-11-16 16:06:02+00:00,"Dosan ngrasa brntung ktmu Dalmi, tp tiap inget..."

In [157]:
tweets.to_excel('tweets_filtered.xlsx')