In [56]:
import pandas as pd
import numpy as np

tweets = pd.read_excel('tweets_labeled.xlsx')
tweets = tweets.drop(columns=['date', 'Judgement 1', 'Judgement 2', 'Judgement 3'])
tweets.head()

                                               tweet  label
0  Di awali dengan scene bawang ini, mau nangis t...    0.0
1  gila ni drama cakep bgt, cinematography-nya ke...    1.0
2                                          jahat bgt    0.0
3   gua kalo males nonton drakor gua stalk GTGT W...    0.0
4  Nam do san emang dikasih preview dikit bgt di ...    0.0

In [57]:
print('Null Label :',tweets['label'].isnull().sum())
tweets = tweets.dropna()
print('Null Label After Clean:',tweets['label'].isnull().sum())

Null Label : 4
Null Label After Clean: 0

In [58]:
tweets.describe()

             label
count  2085.000000
mean      0.619185
std       0.711717
min       0.000000
25%       0.000000
50%       0.000000
75%       1.000000
max       2.000000

In [59]:
tweets['label'].value_counts()

0.0    1076
1.0     727
2.0     282
Name: label, dtype: int64

In [61]:
import re

def cleanTxt(text):
    text = re.sub("[^a-zA-Z]+", " ", text)
    
    return text

tweets['tweet'] = tweets['tweet'].apply(cleanTxt)
tweets.head()

                                               tweet  label
0  Di awali dengan scene bawang ini mau nangis ta...    0.0
1  gila ni drama cakep bgt cinematography nya kec...    1.0
2                                          jahat bgt    0.0
3   gua kalo males nonton drakor gua stalk GTGT W...    0.0
4  Nam do san emang dikasih preview dikit bgt di ...    0.0